# Kirby
/kirby

# Cache
/site/cache/*
!/site/cache/.gitkeep

# Sessions
/site/sessions/*
!/site/sessions/.gitkeep

# Accounts (user data)
/site/accounts/*
!/site/accounts/.gitkeep

# Logs
/site/logs/*

# Composer
/vendor

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.sublime-*

# Temporary files
*.tmp
*.temp
*.swp
*~
